.contacts {
  padding: 40px 0;
  position: relative;
  background: linear-gradient(to right, transparent 50%, rgba(17, 55, 113, 0.12) 50%);

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    max-width: 1800px;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../../../../../public/images/contacts-bg.png") no-repeat center/cover;
    z-index: -1;
  }

  img {
    z-index: -99;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }

  &__left {
    width: 100%;
    position: relative;
  }

  &__bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60%;
  }

  &__sale {
    display: inline-block;
    position: relative;
    font-size: 120px;
    line-height: 180px;
    margin: 0 0 0 100px;

    &::after {
      content: "%";
      position: absolute;
      right: -45px;
      top: -20px;
      font-weight: 600;
      font-size: 55px;
      color: var(--color-blue);
    }
  }

  &__desc {
    max-width: 542px;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.3em;
    color: var(--color-black);
  }

  &__right {
    width: 100%;
    max-width: 900px;
  }
}

// - reg
.reg-form {
  padding: 50px;
  margin: 0 auto;
  gap: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 694px;
  border-radius: 20px;
  // background-color: var(--color-blue);

  &__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 1.3em;
  }

  &__inp {
    height: 45px;
    border-radius: 10px;
    background-color: var(--color-light);
    border: 1px solid #EDEEEF;
    font-size: 22px;
    line-height: 1.3em;
    padding: 0 20px;

    &:focus {
      outline: 2px solid var(--color-blue);
    }
  }

  &__btn {
    margin-top: 0;

    &:focus {
      outline: 2px solid var(--color-blue);
    }
  }

  // &-availibility {
  // font-size: 24px;
  // line-height: 66px;
  // }

  // &__bool {
  //   justify-content: flex-start;
  //   display: flex;
  //   column-gap: 26px;
  //   margin-bottom: 38px;
  // }

  // &__radio {
  //   position: relative;
  //   display: inline-block;
  //   width: 40px;
  //   height: 40px;
  //   background-color: var(--color-light);
  //   border-radius: 5px;

  //   &::before {
  //     position: absolute;
  //     left: 3px;
  //     right: 0;
  //     top: 0;
  //     bottom: 7px;
  //     margin: auto;
  //     width: 26px;
  //     height: 13px;
  //     border-left: 2px solid var(--color-black);
  //     border-bottom: 2px solid var(--color-black);
  //     border-radius: 2px;
  //     transform: rotate(-45deg);
  //   }
  // }

  // &__lbl {
  // display: inline-block;
  // font-size: 24px;
  // font-weight: 400;
  // line-height: 41px;
  // }
}

// #reg-form-y:checked+.reg-form__radio::before {
//   content: "";
// }

// #reg-form-n:checked+.reg-form__radio::before {
//   content: "";
// }