.advantages {
  padding: 73px 0;

  &__container {
    background: #F7F7F7;
    box-shadow: 0px 80.7009px 63.4079px -35.5468px rgba(29, 32, 33, 0.15);
    border-radius: 15px;
    // padding: 36px 57px 31px 64px;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 70%;
    margin: 0 auto;
  }

  &__block {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 140px;
  }

  &__icons {
    width: 50px;
    height: 50px;
    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.3em;
    color: #1E1E1E;
  }

  &__desc {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3em;
    color: #1E1E1E;
  }
}