:root {
  --banner-bg: linear-gradient(90deg, #E6E9F0 0%, #EEF1F5 100%);
  --color-banner-content: #000;
  --course-bg: linear-gradient(90deg, #8989BA 0%, #8989BA 52%, #8989BA 100%);
  --skills-item-bg: linear-gradient(90deg, #DAD4EC 0%, #DAD4EC 1%, #F3E7E9 100%);
  --skills-item-color: #000;
  --advantages-icons-bg: linear-gradient(180deg, rgba(74, 163, 225, 0.74) 0%, rgba(149, 115, 245, 0.74) 100%);
}