* {
  box-sizing: border-box;

  &::before {
    box-sizing: border-box;
  }

  &::after {
    box-sizing: border-box;
  }
}

ul[class] {
  padding: 0;
  margin: 0;
  list-style: none;
}

ol[class] {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
}

li {
  margin: 0;
}

figure {
  margin: 0;
}

figcaption {
  margin: 0;
}

blockquote {
  margin: 0;
}

dl {
  margin: 0;
}

dd {
  margin: 0;
}

a {
  &:not([class]) {
    text-decoration-skip-ink: auto;
  }

  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

article {
  >* {
    + {
      * {
        margin-top: 1em;
      }
    }
  }
}

input {
  font: inherit;
}

button {
  font: inherit;
  background: none;
  border: none;
}

textarea {
  font: inherit;
}

select {
  font: inherit;
}