@media (max-width: 1921px) {
  .salary__img {
    width: 165px;
  }
}

@media (max-width: 1441px) {

  .container {
    max-width: 1200px;
  }

  .advantages__block {
    svg {
      width: 60px;
    }
  }

  .author__desc {
    max-width: 600px;
  }

  .salary__container {
    padding: 82px 10px 0 80px;
  }

  .cost__item {
    font-size: 18px;
  }

  .cost__btn {
    width: 100%;
  }

  .cost__oval {
    font-size: 20px;
    line-height: 29px;
  }

  .about__content {
    font-size: 20px;
    line-height: 26px;
  }

  .about__content_mb {
    margin-bottom: 60px;
  }

  .sales__desc {
    font-size: 24px;
    line-height: 38px;
  }

  .sales__oval {
    font-size: 23px;
  }

  .knowledges__technologies {
    max-width: 750px;
  }
}

@media (max-width: 1220px) {

  .section__title {
    font-size: 29px;
  }

  .advantages__block {
    svg {
      width: 53px;
    }
  }

  .author {
    &__img {

      &--first {
        right: 280px;
        width: 150px;
        height: 180px;
      }

      &--second {
        top: -100px;
        right: 150px;
        width: 200px;
        height: 200px;
      }

      &--third {
        width: 150px;
        height: 180px;
      }
    }
  }

  .author__desc {
    max-width: 516px;
  }

  .steps__desc {
    font-size: 18px;
    line-height: 25px;
  }

  .salary__title {
    font-size: 35px;
  }

  .salary__desc {
    font-size: 18px;
  }

  .salary__grade {
    height: 90px;
  }

  .salary__container {
    padding: 82px 10px 0 118px;
  }

  .salary__right {
    display: none;
  }

  .salary__bottom {
    display: none;
  }

  .salary__price {
    font-size: 21px;
  }

  .salary__sm-title {
    font-size: 18px;
  }

  .salary__img {
    width: 129px;
  }

  .salary__content {
    padding-bottom: 61px;
  }

  .card-dark {
    svg {
      width: 180%;
      left: -226px;
      top: -170px;
    }
  }

  .cities__desc {
    margin: 25px 0 87px;
  }

  .advantages__block.ml-50 {
    margin: 0;
  }

  .container {
    max-width: 920px;
  }

  .cost__item {
    font-size: 15px;
    line-height: 24px;
  }

  .cost__oval {
    font-size: 16px;
    line-height: 20px;
  }

  .btn__oval {
    border-radius: 50px;
    padding: 11px 35px;
  }

  .cost__btn {
    font-size: 23px;
    height: 46px;
  }

  .about__content {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 876px) {
  .hero {
    padding: 60px 0;

    &__wrapper {
      text-align: center;
      flex-direction: column;
    }

    &__item {
      &::before {
        display: none;
      }
    }

    &__title {
      font-size: 35px;
    }

    &__list {
      font-size: 16px;
    }

    &__item {
      font-size: 14px;
    }

    &__img-laptop {
      max-width: 300px;
      height: 250px;
    }
  }

  .container {
    max-width: 800px;
  }

  .advantages__block {
    svg {
      width: 62px;
    }
  }

  .author {
    padding-top: 0;

    &__content {
      width: 100%;
    }

    &__images {
      width: 100%;
      gap: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__img {
      position: relative;
      top: 0;
      left: 0;
      width: 150px;
      height: 200px;
    }
  }

  .author__top {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    gap: 40px;
  }

  .author__bottom {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .author__block {
    padding: 20px;
  }

  .author__desc {
    max-width: none;
    margin-top: 20px;
  }

  .author__content {
    padding-top: 0;
  }

  .author__img {
    max-height: 300px;
  }

  .steps__container {
    flex-direction: column;
  }

  .steps__block:nth-child(2) {
    align-self: center;
  }

  .steps__block:nth-child(3) {
    align-self: flex-end;
  }

  .steps__desc {
    max-width: none;
  }

  .salary__container {
    flex-direction: column;
    padding: 82px 10px 60px 118px;
  }

  .salary__info {
    max-width: 100%;
    text-align: center;
  }

  .salary__right {
    display: block;
    right: -40px;

    &::before {
      right: -13px;
    }
  }

  .salary__bottom {
    display: block;
    bottom: -44px;
    width: 126%;
  }

  .courses {
    padding: 60px 0;
  }

  .courses__title {
    margin-bottom: 60px;
  }

  .courses__topic {
    margin-bottom: 20px;

    &-dark {
      margin-bottom: 20px;
    }
  }

  .courses__desc {
    font-size: 16px;
  }

  .courses__desc-dark {
    font-size: 16px;
  }

  .courses__skill {
    font-size: 14px;
  }

  .courses__skill-dark {
    font-size: 14px;
  }

  .cost {
    padding-top: 60px;
    background: none;
  }

  .cost__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .cost__col {
    max-width: 450px;
    margin: 0 auto;
  }

  .cost__item {
    font-size: 20px;
    line-height: 33px;
  }

  .cost__oval {
    font-size: 22px;
    line-height: 33px;
  }

  .about {
    padding-top: 77px;
    padding-bottom: 60px;
  }

  .about__grid {
    grid-template-columns: 1fr;
  }

  .about__content {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 30px;
    max-width: none;
  }

  .testimonials {
    padding-top: 60px;
  }

  .student {
    max-width: 665px;
  }

  .student__content {
    max-width: 280px;
  }

  .student__video {
    max-height: 399px;
  }

  .knowledges__bg {
    display: none;
  }

  .knowledges__sm-title {
    font-size: 22px;
  }

  .knowledges__sm-desc {
    font-size: 16px;
  }

  .salary {
    overflow: hidden;
  }

  .sales {
    &__num {
      font-size: 80px;
    }
  }
}

@media (max-width: 670px) {
  .courses__btn {
    font-size: 17px;
  }

  .container {
    padding: 0 20px;
  }

  .author__img {
    width: 100%;

    img {
      border-radius: 10px;
    }
  }

  .author__desc {
    font-size: 18px;
  }

  .author__bottom {
    flex-direction: column;
    align-items: center;
  }

  .author__block {
    width: 100%;
    max-width: 295px;
  }

  .steps__desc {
    font-size: 24px;
    line-height: 30px;
  }

  .salary__content {
    bottom: auto;
    left: auto;
    border-radius: 0px;

    svg {
      top: auto;
      bottom: 0;
      width: 100%;
    }
  }

  .salary__container {
    padding: 35px;
  }

  .salary__title {
    font-size: 27px;
  }

  .salary__desc {
    font-size: 16px;
  }

  .salary__blocks {
    width: 292px;
  }

  .salary__sm-title {
    font-size: 15.125px;
  }

  .courses__title {
    margin-bottom: 70px;
  }

  .student {
    max-width: 390px;
  }

  .student__testimonial {
    font-size: 14px;
    line-height: 16px;
  }

  .student__content {
    padding: 13px;
    max-width: 220px;
  }

  .student__video {
    height: 150px;
    width: 150px;
  }

  .testimonials {
    .swiper-wrapper {
      padding: 60px 10px;
    }
  }

  .cities__title {
    text-align: center;
    margin: 0 auto;
  }

  .cities__desc {
    font-size: 16px;
    line-height: 19px;
    padding: 0 20px;
  }

  .cities__lg-slider {
    .swiper-slide {
      font-size: 20px;
      line-height: 16px;
      padding-left: 20px;

      &::before {
        content: "•";
        margin-right: 5px;
      }
    }

    .swiper-container {
      height: 34px;
    }
  }

  .cities__md-slider {
    .swiper-slide {
      font-size: 14px;
      line-height: 11px;
      padding-left: 20px;

      &::before {
        content: "•";
        margin-right: 5px;
      }
    }

    .swiper-container {
      height: 22px;
    }
  }

  .cities__sm-slider {
    .swiper-slide {
      font-size: 10px;
      line-height: 7px;
      padding-left: 20px;

      &::before {
        content: "•";
        margin-right: 5px;
      }
    }

    .swiper-container {
      height: 14px;
    }
  }

  .sales {
    position: relative;
    padding: 48px 0 38px;
  }

  .sales__percent {
    position: absolute;
    font-size: 52.6829px;
    line-height: 74px;
    right: 26px;
    bottom: 187px;
  }

  .sales__desc {
    margin-right: 0;
    margin-bottom: 132px;
    font-size: 20px;
    line-height: 23px;
  }

  .sales__oval {
    width: 100%;
    font-size: 20px;
    line-height: 28px;
  }

  .knowledges__block {
    padding: 20px;
  }

  .knowledges__sm-title {
    font-size: 18px;
  }

  .knowledges__sm-desc {
    font-size: 14px;
  }
}

@media (max-width: 577px) {
  .steps__block {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .steps__num {
    font-size: 100px;
  }

  .steps__desc {
    font-size: 20px;
  }

  .author {

    &__img {

      &--first {
        display: none;
      }

      &--third {
        display: none;
      }
    }
  }

  .author__img {
    max-width: 220px;
    max-height: 200px;
  }

  .author__sm-desc {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .social {
    &__links {
      width: 35px;
      height: 35px;

      &-telegram {

        &::after {
          width: 15px;
          height: 15px;
        }
      }

      &-whatsapp {

        &::after {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}

@media (max-width: 545px) {
  .courses {
    padding: 40px 0;

    &__row {
      grid-template-columns: repeat(auto-fill, minmax(277px, 1fr));
    }

    &__card {
      padding: 20px;
    }

    &__skill {
      width: 100%;
      padding: 5px;
      border-radius: 10px;

      &-dark {
        width: 100%;
        padding: 5px;
        border-radius: 10px;
      }
    }

    &__btn {
      border-radius: 10px;
    }
  }
}

@media (max-width: 491px) {
  .section__title {
    font-size: 25px;
  }

  .knowledges__title {
    font-size: 22px;
    margin-bottom: 35px;
  }

  .hero {
    &__wrapper {
      padding: 20px;
    }
  }

  .author__desc {
    font-size: 16px;
  }

  .author__sm-desc {
    font-size: 16px;
  }

  .salary__desc {
    font-size: 14px;
    padding: 14px;
  }

  .salary__title {
    font-size: 25px;
  }

  .salary__price {
    font-size: 18px;
  }

  .salary__grade {
    height: 70px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 472px) {

  .courses__title {
    margin-bottom: 40px;
  }

  .steps__container {
    gap: 45px;
  }

  .steps__num {
    font-size: 80px;
  }

  .steps__desc {
    font-size: 15px;
    line-height: 20px;
  }
}

@media (max-width: 416px) {
  .about__img {
    display: none;
  }

  .sales__oval {
    font-size: 18px;
    margin-top: 10px;
  }

  .author__sm-desc {
    font-size: 14px;
  }
}