.steps {
  padding: 63px 0 85px;
  background: var(--color-grey);

  &__container {
    margin-top: 20px;
    gap: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }

  &__title {
    text-align: center;
  }

  &__block {
    position: relative;
    width: 100%;
    max-width: 300px;
    padding-left: 15px;

    &::before {
      content: "";
      position: absolute;
      top: 30px;
      left: -5px;
      height: 11px;
      width: 11px;
      border-radius: 50%;
      background-color: #2F3A94;
    }

    &::after {
      content: "";
      position: absolute;
      top: 35px;
      left: 0;
      height: 130px;
      width: 2px;
      background: linear-gradient(0deg, #76bfef 35%, #2F3A94 100%);
    }

    &:last-child>.steps__desc {
      max-width: 487px;
    }
  }

  &__num {
    font-family: var(--font-rubik), Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 100px;
    line-height: 1.3em;
    color: rgba(139, 152, 248, 0.56);
    transition: .3s;

    &:hover {
      color: rgb(139 152 248 / 91%);
    }
  }

  &__desc {
    margin-top: -23px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3em;
    color: var(--color-black);
    max-width: 379px;
  }
}

@media (max-width: 991px) {
  .steps {
    &__container {
      flex-direction: column;
    }

    &__block {
      &:nth-child(2) {
        align-self: center;
      }

      &:nth-child(3) {
        align-self: flex-end;
      }
    }
  }
}

@media (max-width: 768px) {
  .steps {
    &__title {
      font-size: 25px;
    }
  }
}

@media (max-width: 500px) {
  .steps {
    &__title {
      font-size: 22px;
    }

    &__num {
      font-size: 84px;
    }
  }
}