:root {
  --banner-bg: #171526;
  --color-banner-content: #fff;
  --course-bg: linear-gradient(90deg, #1E1C2C 0%, #312F3E 52%, #181627 100%);
  --skills-item-bg: linear-gradient(247deg, #B530F1 41.48%, #DE5AE4 93.28%);
  --skills-item-color: #fff;
  --advantages-icons-bg: linear-gradient(247deg, #B530F1 41.48%, #DE5AE4 93.28%);
}