.courses {
  padding: 80px 0;

  &__title {
    margin-bottom: 40px;
    text-align: center;
  }

  &__row {
    gap: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
  }

  &__card {
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    max-width: 420px;
    border-radius: 30px;
    padding: 40px;
    background: linear-gradient(218deg, rgba(245, 247, 250, 0.5) -8.34%, rgba(195, 207, 226, 0.5) 63.99%);

    svg {
      z-index: 4;
      position: absolute;
      width: 100%;
      left: -21px;
      top: -82px;
    }
  }

  &__bg {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__content {
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__topic {
    color: #161525;
    letter-spacing: 0.6px;
    text-transform: capitalize;
    margin-bottom: 44px;

    &-dark {
      color: var(--color-light);
      letter-spacing: 0.6px;
      text-transform: capitalize;
      margin-bottom: 44px;
    }
  }

  &__desc {
    text-align: center;
    color: #171626;
    font-weight: 400;
    margin-bottom: 43px;
    font-size: 20px;

    &-dark {
      text-align: center;
      color: var(--color-light);
      font-weight: 400;
      margin-bottom: 43px;
      font-size: 20px;
    }
  }

  &__skill {
    display: block;
    border-radius: 25px;
    border: 1px solid #0E7DBB;
    background: #D9E5F9;
    color: var(--color-black);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    padding: 5px 25px;

    &-dark {
      display: block;
      border-radius: 25px;
      border: 1px solid #09BA8F;
      background: rgba(253, 253, 253, 0.08);
      color: var(--color-light);
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 15px;
      padding: 5px 25px;
    }
  }

  &__btn {
    width: 80%;
    color: var(--color-light);
    padding: 1px 20px;
    border-radius: 50px;
    text-align: center;
    z-index: 5;

    &:focus {
      outline: 2px solid var(--color-blue);
    }
  }
}

.card-dark {
  background: #161525;
  box-shadow: 0px 63px 50px -26px rgba(0, 0, 0, 0.10);

  svg {
    z-index: 4;
    position: absolute;
    width: 100%;
    left: -105px;
    top: -126px;
  }
}