html { /* body won't work ¯\_(ツ)_/¯ */
  scroll-snap-type: y mandatory;
}
.footer__container {
  scroll-snap-align: start;
}
.footer__copy {
  scroll-snap-align: end;
}
.video {
  margin: 45px 0;
  &__scroll {
    scroll-snap-align: center;
  }
  &__wrapper {
    aspect-ratio: 16/9;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__list {
    gap: 75px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  }
  &__card {
    border-radius: 10px;
    background-color: #ccc;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 1px 8px 0 rgba(193, 193, 193, 0.25);
    &-desc {
      padding: 15px;
      background-color: #fff;
      gap: 10px;
      display: flex;
      flex-direction: column;
    }
  }

  &__desc-wrapper {
    gap: 10px;
    display: flex;
    justify-content: space-between;
  }

  &__desc {
    font-size: 18px;
    line-height: 1.3em;
    max-width: 240px;

    & a {
      font-weight: 500;
      color: #354199;
    }
  }

  &__link {
    font-size: 14px;
    line-height: 1.3em;
    color: #909090;
    text-decoration: underline;
  }

  .video-top {
    margin-bottom: 100px;

    &__title {
      font-weight: 600;
      font-size: 48px;
      line-height: 1.3em;
      color: #354199;
      margin-bottom: 15px;
    }

    &__text {
      font-weight: 400;
      font-size: 32px;
      line-height: 1.3em;
      color: #000;
      max-width: 848px;
    }

    &__wrapper {
      width: 100%;
      height: 500px;
      background-color: #ccc;
      border-radius: 15px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: 0 1px 8px 0 rgba(193, 193, 193, 0.25);
      margin-bottom: 35px;
    }

    &__inner {
      gap: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 25px;
      background: #fff;
    }

    &__desc {
      font-weight: 400;
      font-size: 26px;
      line-height: 1.3em;
      color: #000;

      & a {
        color: #354199;
      }
    }

    &__link {
      text-decoration: underline;
      cursor: pointer;
      font-weight: 400;
      font-size: 24px;
      line-height: 1.3em;
      color: #909090;
    }

    &__btn {
      display: block;
      text-align: center;
      font-weight: 500;
      font-size: 28px;
      line-height: 1.3em;
      color: #fff;
      padding: 25px 60px;
      border-radius: 15px;
      backdrop-filter: blur(50px);
      background: linear-gradient(180deg, rgba(198, 135, 255, 0.8) 0%, rgba(141, 98, 233, 0.9) 100%);
    }
  }
}

@media (max-width:991px) {
  .video {
    .video-top {
      &__title {
        font-size: 40px;
      }

      &__text {
        font-size: 27px;
      }

      &__wrapper {
        height: 400px;
      }

      &__inner {
        padding: 15px;
        background: #fff;
      }

      &__desc {
        font-size: 20px;
      }

      &__link {
        font-size: 20px;
      }

      &__btn {
        font-size: 18px;
        padding: 15px 60px;
      }
    }
  }
}

@media (max-width:768px) {
  .video {
    // padding: 60px 0;

    .video-top {
      &__title {
        font-size: 30px;
      }

      &__text {
        font-size: 22px;
      }

      &__wrapper {
        height: 350px;
      }

      &__inner {
        padding: 15px;
        background: #fff;
      }

      &__desc {
        font-size: 17px;
      }

      &__link {
        font-size: 17px;
      }

      &__btn {
        font-size: 18px;
        padding: 10px 45px;
      }
    }
  }
}

@media (max-width:500px) {
  .video {
    // padding: 40px 0;

    .video-top {
      &__title {
        font-size: 23px;
      }

      &__text {
        font-size: 17px;
      }

      &__wrapper {
        height: 260px;
      }

      &__inner {
        padding: 15px;
      }

      &__desc {
        font-size: 14px;
      }

      &__link {
        font-size: 14px;
      }

      &__btn {
        font-size: 14px;
        padding: 10px 45px;
      }
    }

    &__list {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
}