.footer {
  color: var(--color-light);
  background-color: var(--color-dark);

  &__wrapper {
    padding: 60px 0;
  }

  &__logo-wrapper {
    width: 100%;
    max-width: 200px;
    height: 40px;
    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__list {
    gap: 45px;
    display: flex;
    align-self: start;
    justify-content: space-around;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 250px;
  }

  &__title {
    color: var(--color-blue);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3em;
  }

  &__links {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3em;
    font-family: sans-serif;
    text-decoration: transparent;
    position: relative;

    &-inst {
      padding-left: 20px;

      &::before {
        content: "";
        position: absolute;
        top: 1px;
        left: -5px;
        width: 20px;
        height: 20px;
        background: url("../../../../public/images/footer-instagram.svg") no-repeat center/cover;
      }
    }

    &-tiktok {
      padding-left: 20px;

      &::before {
        content: "";
        position: absolute;
        top: 1px;
        left: -5px;
        width: 20px;
        height: 20px;
        background: url("../../../../public/images/tiktok.svg") no-repeat center/cover;
      }
    }

    &-phone {
      padding-left: 20px;

      &::before {
        content: "";
        position: absolute;
        top: 1px;
        left: -5px;
        width: 20px;
        height: 20px;
        background: url("../../../../public/images/phone.svg") no-repeat center/cover;
      }
    }

    &-telegram {
      padding-left: 20px;

      &::before {
        content: "";
        position: absolute;
        top: 1px;
        left: -5px;
        width: 20px;
        height: 20px;
        background: url("../../../../public/images/telegram.svg") no-repeat center/cover;
      }
    }

    &-whatsapp {
      padding-left: 20px;

      &::before {
        content: "";
        position: absolute;
        top: 1px;
        left: -5px;
        width: 20px;
        height: 20px;
        background: url("../../../../public/images/whatsapp.svg") no-repeat center/cover;
      }
    }

    &-email {
      padding-left: 20px;

      &::before {
        content: "";
        position: absolute;
        top: 1px;
        left: -5px;
        width: 20px;
        height: 20px;
        background: url("../../../../public/images/email.svg") no-repeat center/cover;
      }
    }

    &-address {
      padding-left: 20px;

      &::before {
        content: "";
        position: absolute;
        top: 1px;
        left: -5px;
        width: 20px;
        height: 20px;
        background: url("../../../../public/images/address.svg") no-repeat center/cover;
      }
    }
  }

  &__copy {
    border-top: 1px solid #fff;
    padding: 40px 0;
  }

  &__copy-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
  }

  &__copy-text {
    font-size: 14px;
    line-height: 1.3em;
    max-width: 400px;
  }
}

@media (max-width: 577px) {
  .footer {
    &__list {
      flex-wrap: wrap-reverse;
      justify-content: space-around;
    }

    &__copy-wrapper {
      gap: 30px;
      align-items: center;
      flex-direction: column;
    }

    &__copy-text {
      max-width: 100%;
      text-align: center;
    }
  }
}

@media (max-width: 472px) {
  .footer {
    &__list {
      flex-direction: column;
    }
  }
}