.knowledges {
  position: relative;
  padding: 69px 0 52px;
  background: linear-gradient(180deg, #191929 0%, #05070B 100%);

  @media (max-width: 500px) {
    padding: 45px 0;
  }

  &__bg {
    position: absolute;
    right: 0;
    bottom: 40px;
    z-index: 0;

    img {
      height: 45vh;
    }
  }

  &__title {
    color: var(--color-light);
    font-weight: 700;
    line-height: 1.3em;
    margin-bottom: 50px;

    @media (max-width: 768px) {
      font-size: 25px;
    }

    @media (max-width: 500px) {
      font-size: 20px;
    }
  }

  &__technologies {
    max-width: 912px;
    max-height: 45vh;
    overflow-y: scroll;
    padding-right: 15px;
    position: relative;
    z-index: 2;

    &::-webkit-scrollbar {
      width: 4px;

      &-track {
        width: 1px;
        border-radius: 2px;
        background: rgba(255, 255, 255, 0.1);
      }

      &-thumb {
        border-radius: 2px;
        background: #6DBAF0;
        height: 100px;
      }
    }

    @media (max-width: 768px) {
      max-height: 60vh;
    }

    @media (max-width: 500px) {
      max-height: 45vh;
    }
  }

  &__block {
    background: #161F33;
    border-radius: 10px;
    padding: 26px 44px 26px 34px;
  }

  &__sm-title {
    display: inline-block;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.3em;
    letter-spacing: 0.01em;
    color: var(--color-blue);
    margin-bottom: 10px;
  }

  &__sm-desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7em;
    color: var(--color-light);
    margin-bottom: 40px;
    padding-bottom: 10px;

    &:not(:last-child) {
      border-bottom: 1px solid #6DBAF0;
    }

    @media (max-width: 768px) {
      font-size: 16px;
    }

    @media (max-width: 500px) {
      font-size: 14px;
    }
  }
}