// - reg
.reg-form {
  padding: 50px;
  margin: 0 auto;
  gap: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 400px;
  border-radius: 15px;
  background-color: #151624;
  color: var(--color-light);

  &__title {
    color: var(--color-light);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3em;

    &-bold {
      font-weight: 700;
      font-size: 36px;
      color: var(--color-blue);
    }
  }

  &__wrapper {
    position: relative;
  }

  &__inp {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    background-color: var(--color-light);
    border: 1px solid #EDEEEF;
    font-size: 14px;
    line-height: 1.3em;
    padding: 0 20px;

    &-invalid {
      border-color: var(--color-error);
    }

    &-feedback {
      position: absolute;
      bottom: -6px;
      left: 6px;
      color: var(--color-error);
    }

    &:focus {
      outline: 2px solid var(--color-blue);
    }
  }

  &__btn {
    margin-top: 0;
    padding: 8px 20px;
    border-radius: 10px;
    background: linear-gradient(180deg, #4AA3E1 0%, #9573F5 100%);
    color: var(--color-light);

    &:focus {
      outline: 2px solid var(--color-blue);
    }
  }

  // &-availibility {
  // font-size: 24px;
  // line-height: 66px;
  // }

  // &__bool {
  //   justify-content: flex-start;
  //   display: flex;
  //   column-gap: 26px;
  //   margin-bottom: 38px;
  // }

  // &__radio {
  //   position: relative;
  //   display: inline-block;
  //   width: 40px;
  //   height: 40px;
  //   background-color: var(--color-light);
  //   border-radius: 5px;

  //   &::before {
  //     position: absolute;
  //     left: 3px;
  //     right: 0;
  //     top: 0;
  //     bottom: 7px;
  //     margin: auto;
  //     width: 26px;
  //     height: 13px;
  //     border-left: 2px solid var(--color-black);
  //     border-bottom: 2px solid var(--color-black);
  //     border-radius: 2px;
  //     transform: rotate(-45deg);
  //   }
  // }

  // &__lbl {
  // display: inline-block;
  // font-size: 24px;
  // font-weight: 400;
  // line-height: 41px;
  // }
}

// #reg-form-y:checked+.reg-form__radio::before {
//   content: "";
// }

// #reg-form-n:checked+.reg-form__radio::before {
//   content: "";
// }

@media (max-width: 876px) {
  .reg-form {
    padding: 20px;

    &__title {
      font-size: 18px;
    }

    &__inp {
      height: 35px;
    }

    &__btn {
      padding: 5px 20px;
    }
  }
}

@media (max-width: 491px) {

  .reg-form__lbl {
    font-size: 22px;
  }
}

@media (max-width: 472px) {
  .reg-form__lbl {
    font-size: 18px;
  }
}

@media (max-width: 416px) {
  .reg-form__lbl {
    font-size: 22px;
  }
}

@media (max-width: 390px) {
  .reg-form__lbl {
    font-size: 20px;
  }
}