.contacts {
  padding: 100px 0;
  position: relative;
  background: linear-gradient(to right, transparent 50%, rgba(17, 55, 113, 0.12) 50%);

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    max-width: 1800px;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../../../../public/images/contacts-bg.png") no-repeat center/cover;
    z-index: -1;
  }

  img {
    z-index: -99;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }

  &__left {
    width: 100%;
    position: relative;
  }

  &__bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60%;
  }

  &__sale {
    display: inline-block;
    position: relative;
    font-size: 120px;
    line-height: 1.3em;
    margin: 0 0 0 100px;
    color: var(--color-blue);

    &::after {
      content: "%";
      position: absolute;
      right: -45px;
      top: -20px;
      font-weight: 600;
      font-size: 55px;
      font-family: serif;
      color: var(--color-blue);
    }
  }

  &__desc {
    text-align: center;
    font-family: var(--font-raleway);
    max-width: 542px;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.3em;
    color: var(--color-black);
  }

  &__right {
    width: 100%;
    max-width: 900px;
  }
}


@media (max-width: 1441px) {
  .contacts__bg {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 70%;
  }
}

@media (max-width: 1220px) {
  .contacts {

    &__desc {
      font-size: 18px;
      margin: 0 auto;
      text-align: center;
    }

    &__left {
      text-align: center;
    }

    &__sale {
      margin-left: 0;

      &::after {
        top: -10px;
        right: -60px;
      }
    }
  }
}

@media (max-width: 876px) {
  .contacts {
    padding: 60px 0;

    &__sale {
      &::after {
        font-size: 35px;
        line-height: 1.3em;
        top: 18px;
        right: -28px;
      }
    }
  }
}

@media (max-width: 670px) {
  .contacts {
    padding: 40px 0;
    background: linear-gradient(to bottom, transparent 30%, rgba(17, 55, 113, 0.12) 70%);

    &__wrapper {
      flex-direction: column;
    }

    &__bg {
      width: 100%;
      top: auto;
    }

    &__desc {
      font-size: 18px;
    }
  }
}

@media (max-width: 491px) {
  .contacts {
    &__desc {
      font-size: 14px;
    }
  }
}

@media (max-width: 416px) {
  .contacts__left {
    padding-right: 0;
  }
}