.salary {
  overflow: hidden;
  background: url("../../../../../public/images/dark-shape.png") no-repeat center/cover;
  /* clip-path: polygon(0 0, 100% 0%, 100% 100%, 20% 100%, 0 60%); */

  &__content {
    position: relative;
    bottom: -25px;
    left: -39px;
    height: 100%;
    background: url("../../../../../public/images/shape.png") no-repeat center/cover;
    /* clip-path: polygon(0 0, 100% 0%, 100% 100%, 20% 100%, 0 60%); */
    /* background: linear-gradient(100.71deg, rgba(91, 97, 248, 0.114) 2.1%, rgba(78, 40, 112, 0.148) 101.11%); */
    border-radius: 30px;
    padding-bottom: 145px;

    svg {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__container {
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
    max-width: 1382px;
    padding-top: 50px;
    margin: 0 auto;
  }

  &__blocks {
    position: relative;
    z-index: 5;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 781.31px;
      height: 675.25px;
      top: 0;
      left: -400px;
      background: rgba(154, 206, 244, 0.18);
      filter: blur(200px);
      transform: rotate(12.27deg);
    }
  }

  &__right {
    position: absolute;
    right: -73px;
    height: 105%;
    width: 4px;
    z-index: 10;
    top: -20px;
    background: linear-gradient(0deg, #a1d7fe00 0%, #1d8cdb 100%);

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      border-top: #1d8cdb 4px solid;
      border-left: #1d8cdb 4px solid;
      transform: rotate(45deg);
      border-radius: 1px;
      top: 1px;
      right: -12px;
    }
  }

  &__bottom {
    position: absolute;
    width: 180%;
    height: 4px;
    z-index: 10;
    bottom: -63px;
    right: -22%;
    background: linear-gradient(-90deg, #a1d7fe00 0%, #1d8cdb 100%);
  }

  &__grade {
    width: 100%;
    padding: 10px 20px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, #6FBFF2 0%, #3A48AC 100%);
    border-radius: 10px;
    z-index: 5;
    transition: .3s;

    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }

  &__sm-title {
    max-width: 240px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3em;
    text-align: center;
    color: var(--color-light);
  }

  &__price {
    font-family: var(--font-nunito), Arial, Helvetica, sans-serif;
    font-weight: 600;
    max-width: 240px;
    font-size: 26px;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--color-light);
  }

  &__info {
    position: relative;
    max-width: 50%;
    z-index: 5;
  }

  &__title {
    font-family: var(--font-prosto-one), sans-serif;
    font-weight: 400;
    font-size: 45px;
    line-height: 1.3em;
    letter-spacing: 0.01em;
    color: var(--color-light);
    max-width: 735px;
    // text-align: center;
    &-bold {
      font-weight: 500;
      font-size: 50px;
      color: var(--color-blue)
    }
  }

  &__desc {
    display: inline-block;
    font-weight: 500;
    font-size: 25px;
    line-height: 1.3em;
    color: var(--color-light);
    background: rgba(61, 115, 255, 0.2);
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 28px;
  }
}