:root {
  --banner-bg: #171526;
  --color-banner-content: #fff;
  --course-bg: linear-gradient(90deg, #1E1C2C 0%, #312F3E 52%, #181627 100%);
  --skills-item-bg: linear-gradient(90deg, #D5DAEC 0%, #E7EBF3 100%);
  --skills-item-color: #000;
  --advantages-icons-bg: linear-gradient(180deg, rgba(74, 163, 225, 0.74) 0%, rgba(149, 115, 245, 0.74) 100%);
}