.testimonials {
  padding: 40px 0 80px;

  &__title {
    text-align: center;
    margin-bottom: 40px;
  }

  .swiper-wrapper {
    padding: 20px 50px;
  }

  &__swiper .swiper-slide {
    width: auto;
  }
}

.student {
  width: 100%;
  max-width: 500px;
  gap: 10px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: var(--color-light);
  box-shadow: 0 0 10px 5px #ccc;
  @media(max-width: 876px) {
    flex-direction: column;
  }

  &__video {
    width: 100%;
    // max-width: 200px;
    height: 150px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 5px 5px #ccc;
    @media(max-width: 876px) {
      height: 200px;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding: 20px;
  }

  &__name {
    // font-weight: 600;
    // font-size: 26px;
    // line-height: 35px;
    // color: var(--color-black);
    // margin-bottom: 18px;
  }

  &__testimonial {
    // font-weight: 400;
    // font-size: 22px;
    // line-height: 30px;
    // color: var(--color-black);
  }
}